{% extends 'accounts/main.html' %}
{% load static %}

{% block content%}
<body>
    <div class="container-hocphi" >
        <div class="intro">
            <div>
           <h1>Các bước nộp học phí</h1>
            </div>
        </div>
        <div class="allstep">
            <div class="step1">
                <img src="deposit.png" alt="">
                <p>Bước 1. Nạp tiền</p>
            </div>
    
            <div class="step2">
                <img src="select-course.png" alt="">
                <p>Bước 2. Chọn khóa học</p>
            </div>
    
            <div class="step3">
                <img src="verified.png" alt="">
                <p>Bước 3. xác nhận</p>
            </div>
        </div>
    
        <div class="recharge">
            <button>Nạp tiền</button>
        </div>
    
        <div>
            <p>lưu ý</p>
            <p>* Thời gian học: 24h/24h</p>
            <p>* Chuyển đổi khóa học <a href="#">đây.</a> </p>
            <p>* Chính sách chuyển đổi, nâng cấp khoa học, xem tại <a href="#">đây.</a> </p>
            <p>* Chính sách miễn giảm học phí, xem tại <a href="#">đây.</a> </p>
        </div>
    </div>
</body>
{% endblock%}